*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background-color: rgb(8 59 76);
    
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40pt;
    text-align: center;
}

.cont-box{
    display: flex;
    
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box{
    height: 90px;
    width: 90px;
    background-color: blueviolet;
    
}

.Fizz{
    background-color: brown;
}

.Buzz

.FizzBuzz