*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background-color: rgb(8 59 76);
    padding: 70px 0;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40pt;
    text-align: center;
    margin-bottom: 80px;
}

.cont-box{
    display: flex;
    padding: 0 30px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.box{
    height: 100px;
    width: 100px;
    background-color: rgb(19 137 178);
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

.Fizz{
    background-color: rgb(11 214 161);
}

.Buzz{
    background-color: rgb(255 209 102);
}

.FizzBuzz{
    background-color: rgb(240 70 111);
}